{% if partners.partner %}
<h3 class="my-4"> Meet our team </h3>
<div class="w-full grid grid-cols-1">
        {% for item in partners.partner %}
            <div class="mx-auto overflow-hidden">
                <div class="md:flex">
                <div class="md:flex-shrink-0 pt-4 lg:pt-0">
                    <img class="rounded-full border-4 border-red-600 h-48 w-48 object-cover md:h-48 md:w-48" src = "{{item.picture}}">
                </div>
                <div class="lg:p-8 p-4">
                    <h3  class="tracking-wide text-red-600 font-semibold">{{item.title}}</h3>
                    <h4>
                        License: {{item.license}}
                        <a href="tel:{{ item.phone }}" class="flex items-center">
                            <span class="pr-4 material-icons">phone_iphone</span>{{ item.phone }}
                        </a>
                        <a href="mailto:{{ item.email }}" class="flex items-center">
                            <span class="pr-4 material-icons">email</span>{{ item.email }}
                        </a>
                    </h4>
                    <div class="mt-2">
                        {{item.desc | markdownit | safe }}
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
</div>
{% endif %}
